<%# scss読み込み %>
<%= stylesheet_link_tag "balloons/detail", :media => "all" %>


<div class="body-wrap">
  <% if current_user.already_bookmarked?(@b) %>
    <%= button_to "保存済みから削除", bookmark_path(@b), {class: "btn btnText", method: :delete, params: {id: @b.id} } %>
  <% else %>
    <%= button_to '保存する', bookmarks_path(@b),{class: "btn btnText", params:{id: @b.id}} %>
  <% end %>
    <div class="body-wrap-sub">
        <div class="paper-img-wrap">
            <%= image_tag "paper/paper"+@b.paperType.to_s+".svg", alt: "paper", class: "paper-img" %>
        </div>
        <div class="form-wrap">
            <div class="form form-title">
              <p class="paper"><%= @b.title %></p>
            </div>
            <div class="form form-content">
              <p class="paper"><%= @b.content %></p>
            </div>
            <div class=" form-info">
              <p class="date"><%= @d %></p>
              <p class="signature"><%= @u %></p>
            </div>
        </div>
    </div>
</div>