<%# scss読み込み %>
<%= stylesheet_link_tag "balloons/new", :media => "all" %>


<% if @balloon.errors.any? %>
  <ul>
    <% @balloon.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @balloon, class: 'form-with', local: true do |form| %>
    <div class="body-wrap">
        <%= form.submit "バルーンを飛ばす", class: "btn btnText" %>
        <div class="body-wrap-sub">
            <div class="paper-img-wrap">
                <%= image_tag "paper/paper"+@balloon.paperType.to_s+".svg", alt: "paper", class: "paper-img" %>
            </div>
            <div class="form-wrap">
                <div class="form form-title">
                    <%= form.text_field :title,{class:"paper", placeholder:"タイトル(50字以内)", autocomplete: 'off'} %>
                </div>
                <div class="form form-content">
                    <%= form.text_area :content,{class:"paper", placeholder:"本文", autocomplete: 'off'} %>
                </div>
            </div>
        </div>
    </div>
<% end %>



