<%= stylesheet_link_tag "balloons/show", :media => "all" %>
<% if @show_mine %>
    <%= stylesheet_link_tag "balloons/setting", :media => "all" %>
<% end %>

<div class="body-wrap">
    <% @b.each do |bb| %>
        <%= link_to "/balloons/show/#{bb.id}", method: :get do %>
            <div class="balloon-wrap">
                <%= image_tag"paper/paper_show"+bb.paperType.to_s+".svg", alt: "paper" %>
                <ul>
                    <li class="title"><%= bb.title %></li>
                    <li class="content"><%= strip_tags(bb.content).truncate(32) %>
                </ul>
            </div>
        <% end %>
    <br>
    <% end %>

    
    <% if !@show_mine %>
        <%= button_to "リロード", {controller: 'balloons', action: 'show'}, {method: :get, class: "btn"} %>
    <% end %>
</div>