<%= stylesheet_link_tag "bookmarks/index", :media => "all" %>

<div class="body-wrap">
    <% @bm.each do |b| %>
        <%= link_to "/balloons/show/#{b.id}", method: :get do %>
            <div class="balloon-wrap">
                <%= image_tag"paper/paper_show"+b.paperType.to_s+".svg", alt: "paper" %>
                <ul>
                    <li class="title"><%= b.title %></li>
                    <li class="content"><%= strip_tags(b.content).truncate(32) %>
                </ul>
            </div>
        <% end %>
    <br>
    <% end %>
</div>

