<%# scss読み込み %>
<%= stylesheet_link_tag "devise/login", :media => "all" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-regist">
    <div class="field">
        <%= f.label :username, class: "formLabel" %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form formText", autocomplete: 'off' %>
    </div>

    <div class="field">
        <%= f.label :password, "パスワード("+@minimum_password_length.to_s+"文字以上)", class: "formLabel form-regist-pass" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form formText", autocomplete: 'off' %>
    </div>

    <div class="field">
        <%= f.label :password_confirmation, class: "formLabel" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form formText", autocomplete: 'off' %>
    </div>

    <div class="actions">
        <%= f.submit "登録", class: "btn btnText btn-regist" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
