<%# scss読み込み %>
<%= stylesheet_link_tag "devise/login", :media => "all" %>


<div class="body-wrap">
    <div class="logomark-img-wrap logo">
        <%= image_tag "logo/logomark.svg", alt: "logomark" %>
    </div>
    <div class="logotype-img-wrap logo">
        <%= image_tag "logo/logotype.svg", alt: "logotype" %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-login">
            <div class="field">
                <%= f.label :username, class: "formLabel" %><br />
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form formText", autocomplete: 'off' %>
            </div>

            <div class="field">
                <%= f.label :password, class: "formLabel" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form formText", autocomplete: 'off' %>
            </div>

            <div class="actions">
                <%= f.submit "ログイン", class: "btn btnText" %>
            </div>
        </div>
    <% end %>
    
    <div class="links">
        <%= render "devise/shared/links" %>
    </div>
</div>