<!DOCTYPE html>
<html>
  <head>
    <title>Balloonmail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <!-- メディアクエリ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
    <link rel="apple-touch-icon" href="<%=image_path("icon.png")%>" />
  </head>

  <body>
    <div class="sp-landscape">
        <%= image_tag "other/sp_landscape.svg", alt: "sp-landscape" %>
    </div>
    <%= yield %>
    <% if !user_signed_in? %>
        <nav class="login-nav">
        <%# <div class="login-nav"> %>
            <div class="btn">
                <%= link_to 'ログイン', new_user_session_path, class: 'btnText' %>
            </div>
            <div class='btn'>
                <%= link_to '新規登録', new_user_registration_path, class: 'btnText' %>
            </div>
        <%# </div> %>
        </nav>
    <% end %>
    <footer>
    <% if user_signed_in? %>
        <%# sp表示%>
        <div class="global-nav-sp">
            <%= link_to image_tag('nav/sp/nav_new.svg', class: "global-nav-img-sp top"), balloons_path %>
            <%= link_to image_tag('nav/sp/nav_show.svg', class: "global-nav-img-sp show"), balloons_show_path %>
            <%= link_to image_tag('nav/sp/nav_bookmark.svg', class: "global-nav-img-sp bookmark"), bookmarks_path %>
            <%= link_to image_tag('nav/sp/nav_setting.svg', class: "global-nav-img-sp setting"), balloons_setting_path %>
        </div>
        <div class="global-nav-choiced-sp">
            <%= link_to image_tag('nav/sp/nav_new_choice.svg', class: "global-nav-img-sp choice top-choiced"), balloons_path %>
            <%= link_to image_tag('nav/sp/nav_show_choice.svg', class: "global-nav-img-sp choice show-choiced"), balloons_show_path %>
            <%= link_to image_tag('nav/sp/nav_bookmark_choice.svg', class: "global-nav-img-sp choice bookmark-choiced"), bookmarks_path %>
            <%= link_to image_tag('nav/sp/nav_setting_choice.svg', class: "global-nav-img-sp choice setting-choiced"), balloons_setting_path %>
        </div>

        <%# pc表示%>
        <div class="global-nav-pc">
            <%= link_to image_tag('nav/pc/nav_new.svg', class: "global-nav-img-pc top"), balloons_path %>
            <%= link_to image_tag('nav/pc/nav_show.svg', class: "global-nav-img-pc show"), balloons_show_path %>
            <%= link_to image_tag('nav/pc/nav_bookmark.svg', class: "global-nav-img-pc bookmark"), bookmarks_path %>
            <%= link_to image_tag('nav/pc/nav_setting.svg', class: "global-nav-img-pc setting"), balloons_setting_path %>
        </div>
        <div class="global-nav-choiced-pc">
            <%= link_to image_tag('nav/pc/nav_new_choice.svg', class: "global-nav-img-pc choice top-choiced"), balloons_path %>
            <%= link_to image_tag('nav/pc/nav_show_choice.svg', class: "global-nav-img-pc choice show-choiced"), balloons_show_path %>
            <%= link_to image_tag('nav/pc/nav_bookmark_choice.svg', class: "global-nav-img-pc choice bookmark-choiced"), bookmarks_path %>
            <%= link_to image_tag('nav/pc/nav_setting_choice.svg', class: "global-nav-img-pc choice setting-choiced"), balloons_setting_path %>
        </div>
    <%end%>
  </footer>
  <script>
        // body読み込み時に一度だけbodyサイズを設定
        document.body.onload = ()=>{
            document.body.style.minHeight = window.innerHeight + 'px';
            document.body.style.height = window.innerHeight + 'px';
        }
        // リサイズを停止して500ms後にbodyサイズを設定
        let timeoutId;
        window.addEventListener("resize", () => {
            clearTimeout(timeoutId);

            timeoutId = setTimeout(() => {
                document.body.style.minHeight = window.innerHeight + 'px';
            }, 500);
        });
    </script>
  </body>
</html>
